---
import type { Props as TeamComponentProps } from "astro";
import Image from "astro/components/Image.astro";

interface Props extends TeamComponentProps {
    class?: string;
}
const { class: classProp } = Astro.props;
const classes = classProp || "";

const portraits = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/imagesTeam/*.{jpeg,jpg,png,gif,svg}",
    { eager: true },
);
const allPortraits = Object.values(portraits).map((portrait) => portrait.default);

---

<section class={`relative py-16 bg-black ${classes}`}>
    <div class="mx-auto max-w-5xl px-6">
        <div class="flex flex-col items-center justify-center w-full">
            <h2 class="text-5xl font-black font-anton uppercase text-left w-fit">
                Meet <span class="text-primary">the people</span><br /> running the show
                <p class="text-xs mt-0 font-quicksand font-extralight text-muted-foreground">
                    Harum quae dolore orrupti aut temporibus ariatur.
                </p>
            </h2>
        </div>
        <div class="mx-auto mt-12 flex max-w-lg flex-wrap justify-center gap-3">
            <a
                href=""
                target="_blank"
                title="Raoul Polder"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="Raoul Polder"
                    src={allPortraits[0]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[1]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[2]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[3]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[4]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[5]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[6]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[7]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[8]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[9]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
            <a
                href="https://github.com/meschacirung"
                target="_blank"
                title="Méschac Irung"
                class="size-16 rounded-full border *:size-full *:rounded-full *:object-cover"
            >
                <Image
                    alt="John Doe"
                    src={allPortraits[10]}
                    loading="lazy"
                    width={120}
                    height={120}
                />
            </a>
        </div>
    </div>
</section>
